@font-face{
    font-family: "PP Mori";
    src: url("./assets/fonts/pp-mori/64376f386b1017b6e322dfb558692b06.eot");
    src: url("./assets/fonts/pp-mori/64376f386b1017b6e322dfb558692b06.eot?#iefix")format("embedded-opentype"),
        url("./assets/fonts/pp-mori/64376f386b1017b6e322dfb558692b06.woff")format("woff"),
        url("./assets/fonts/pp-mori/64376f386b1017b6e322dfb558692b06.woff2")format("woff2"),
        url("./assets/fonts/pp-mori/64376f386b1017b6e322dfb558692b06.ttf")format("truetype"),
        url("./assets/fonts/pp-mori/64376f386b1017b6e322dfb558692b06.svg#PP Mori")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}


:root{
    width: 100%;
    height: 100%;
    font-family:"PP Mori";
}

html,body{
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    color: #a9b1d6;
    background-color: #24283b;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: end;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
    margin: 1em 1em 0 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.pages{
    width: 100vw;
    height: 100vh;
    display: block;
}

.nav-link:visited{
    text-decoration: none;
    color: #a9b1d6;
}
.nav-link:link{
    text-decoration: none;
    color: #a9b1d6;
    font-size: larger;
    font-weight: bold;
}

.nav-link:hover{
    text-decoration: none;
    color: #bb9af7;
}

.nav-link:active{
    color: #bb9af7;
}

p{
    max-width: 40%;
    max-height: 40%;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #bb9af7 .1em solid;
    border-radius: 1em;
    width: 20em;
    height: 15em;
}

#project-list{
    display: flex;
    gap: 5%;
    justify-content: center;
}

#project-list > .title{
    
}